title: Czerepaha
email: your-email@example.com
description: >-
  A Jekyll site using the Minima theme.
baseurl: ""
url: "https://akhavanski.github.io"

# Build settings
theme: minima
plugins:
  - jekyll-feed
  - jekyll-seo-tag

# Minima theme settings
minima:
  skin: classic
  social_links:
    - { platform: github, user_url: "https://github.com/akhavanski/czerepaha" }

# Exclude from processing
exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/

