---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

// Выравнивание текста по ширине
.post-content,
.page-content {
  p, li {
    text-align: justify;
  }
}
